<div class="game d-flex justify-content-center align-items-center">
  <div class="jumbotron container d-flex justify-content-center align-items-center flex-column">
    <div class="game-buttons">
      <button
        (click)="gameGrid.toggleGame()"
        class="start-btn btn btn-primary btn-lg mb-5"
      >
        {{ startPauseButtonText }}
      </button>
      <button
        (click)="gameGrid.reset()"
        class="reset-btn btn btn-danger btn-lg mb-5"
      >
        {{ resetButtonText }}
      </button>
    </div>
    <app-grid #gameGrid (isPlaying)="setGameStatus($event)"></app-grid>
  </div>
</div>
