<div class="container home d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Conway's Game of Life</h1>
    <p class="lead text-center">
      <span>This is a simple JavaScript implementation of </span>
      <a
        href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
        target="_blank"
      >
        Game of Life
      </a>
      <span> with randomly generated initial "population"</span>
    </p>
    <hr class="my-4">
    <p class="lead text-center">
      <a routerLink="/game" class="btn btn-lg btn-primary" role="button">
        Play the game
      </a>
    </p>
  </div>
</div>
