.row {
  height: 14px;
}

.cell {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid white;
}

.dead {
  background-color: var(--light);
}

.alive {
  background-color: var(--dark);
}
