@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
}

a,
.btn {
  transition: all .3s ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 500;
}

.jumbotron {
  margin-bottom: 0;
}

.btn {
  min-width: 100px;
}
