name: Checks

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  lint-and-tests:
    name: Run Lint and Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v2
        with:
          node-version: '24'
      - run: npm install
      - run: npm run lint
      - run: npm run test -- --watch=false --browsers=ChromeHeadlessCI
  