name: Run Lint and Tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v2
        with:
          node-version: '24'
          cache: 'npm'
      - run: npm install
      - run: npm run lint
  
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v2
        with:
          node-version: '24'
          cache: 'npm'
      - run: npm install
      - run: npm run test -- --watch=false --browsers=ChromeHeadlessCI